@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/CircularStd-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/CircularStd-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Amaranth.woff2') format('woff2');
}
